<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }}</title>

    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>
  <body>

    {{ content }}

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
