
@import 'reset';
@import 'base';

.snowden {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  background-size: cover;
  transition: opacity .5s ease-in-out;
  background: url(../img/snowden.jpg) no-repeat center center fixed;
}

.es-face,
.gf-face {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  border: 8px solid #fff;
}

.es-face {
  right: 0;
  top: -30px;
}

.gf-face {
  top: 90px;
  right: -50px;
}

.house {
  width: 100%;
  border: 8px solid #fff;
}

#step-1 {
  ul {
    margin: 40px;
    text-align: right;
  }
}

.impress-on-step-2 {
  .snowden {
    opacity: 1;
  }
}

.step {
    padding: 40px;
    width: 1000px;
    margin: 20px auto;
    position: relative;
    box-sizing: border-box;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0;
    transition: opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }
