
@import 'reset';
@import 'base';
@import 'general';

.snowden {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  background: url(../img/snowden.jpg) no-repeat center center fixed;
  background-size: cover;

  transition: opacity .5s ease-in-out;
}

.impress-on-step-3,
.impress-on-step-4 {
  .snowden {
    opacity: .1;
  }
}

.impress-on-step-2 {
  .snowden {
    opacity: 1;
  }
}

#step-1 {
  ul {
    margin: 40px;
    text-align: right;
  }
}

#step-6 {
  .es-face,
  .gf-face {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    border: 8px solid #fff;
  }

  .es-face {
    right: -20px;
    top: 20px;
  }

  .gf-face {
    top: 550px;
    right: -20px;
  }

  .house {
    width: 100%;
    border: 8px solid #fff;
  }
}
