
@import 'reset';
@import 'base';
@import 'general';

.snowden {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  background: url(../img/snowden.jpg) no-repeat center center fixed;
  background-size: cover;

  transition: opacity .5s ease-in-out;
}

.impress-on-step-2 {
  .snowden {
    opacity: 1;
  }
}

.impress-on-step-3,
.impress-on-step-4 {
  .snowden {
    opacity: .1;
  }
}

#step-1 {
  ul {
    margin: 40px;
    text-align: right;
  }
}

#step-3,
#step-4 {
  ul {

    margin: 0 auto;

    li {
      padding: 30px;
      font-size: 30px;
      border-bottom: 1px solid #999;
    }
  }
}

#step-6 {
  .es-face,
  .gf-face {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    border: 8px solid #ddd;
  }

  .es-face {
    right: -20px;
    top: 20px;
  }

  .gf-face {
    top: 550px;
    right: -20px;
  }

  .house {
    width: 100%;
    border: 8px solid #ddd;
    border-radius: 5px;
  }
}

#step-7 {
  .citfour {
    position: absolute;
    bottom: 300px;
    right: -50px;
    color: #444;
    font-size: 30px;
  }
}
